# Environments
.venv/
venv/
env/

# Python Cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Mac OS specific
.DS_Store

# PyInstaller / Build Artifacts
build/
dist/
*.spec

# Application Outputs & Caches
cache.json
*.html
*.pdf

# Secrets (API Keys)
.env

# Release Archives
*.zip