# Environments
chem_cli_app/.venv/
env/
venv/

# Python cache
chem_cli_app/__pycache__/
chem_cli_app/*.pyc
chem_cli_app/*.pyo
chem_cli_app/*.pyd

# OS specific
chem_cli_app/.DS_Store

# Build artifacts
chem_cli_app/build/
chem_cli_app/dist/
chem_cli_app/*.spec

# Application specific
chem_cli_app/cache.json
chem_cli_app/*.html
chem_cli_app/*.pdf
chem_cli_app/.env

